<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuejs 表單練習</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/my.css">
</head>

<body>
    <div class="container" id="app">
        <!-- 標題 -->
        <div class="display-2 fw-900 text-bg-primary my-5 text-center py-3 rounded rounded-3 shadow-lg">
            {{ title }}
        </div>

        <div class="row">
            <!-- 確認點餐主開關 -->
            <div class="col-12 mb-3">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="checkFood" v-model="check_food">
                    <label for="checkFood" class="form-check-label">確認點餐</label>
                </div>
            </div>
            <div v-if="check_food">
                <div class="mb-3 form-floating">
                    <input type="text" placeholder="" class="form-control" name="" id="" v-model="username"
                        :class="username.length > 0 && username.length < 6 ? 'is-valid' : 'is-invalid' ">
                    <label for="">訂購人(1~5字)</label>
                    <div class="valid-feedback">符合規定</div>
                    <div class="invalid-feedback">不符合規定</div>
                </div>
                <!-- 細項選擇 (當 check_food 為 true 時顯示) -->
                <div class="col-12 mb-3" v-if="check_food">
                    <div class="form-check" v-for="item in food_array" :key="item.name">
                        <input type="checkbox" class="form-check-input" :id="item.name" :value="item"
                            v-model="check_food_array">
                        <label :for="item.name" class="form-check-label">
                            {{ item.name }} -NT$ {{ item.price }}
                        </label>
                    </div>
                </div>

                <hr>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="payMethod" id="payCash" value="現金"
                        v-model="radioPay">
                    <label for="payCash" class="form-check-label">現金</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="payMethod" id="payCard" value="刷卡"
                        v-model="radioPay">
                    <label for="payCard" class="form-check-label">刷卡</label>
                </div>
                <hr>
                <select name="" id="" class="form-select form-select-lg mt-3" v-model="selectSugar">
                    <option value="" disabled selected class="text-center fw-900">---請選擇糖度---</option>
                    <option value="全糖">全糖</option>
                    <option value="半糖">半糖</option>
                    <option value="無糖">無糖</option>
                </select>
                <hr>
                <!--
                v-bind: 縮寫 :
                v-on:   縮寫 @ 
                ? :     三元運算子 
            -->
                <div class="fs-2 fw-bold my-3">同意遵守訂購規範</div>
                <div class="mb-3 form-check form-switch">
                    <input type="checkbox" class="form-check-input" name="" id="agreeCheck" v-model="agreeOrder"
                        :class="agreeOrder ? 'is-valid' : 'is-invalid'">
                    <label for="agreeCheck" class="form-check-label">同意/不同意</label>
                    <div class="valid-feedback">同意遵守規範</div>
                    <div class="invalid-feedback">必須同意遵守訂購規範，才能送出訂單</div>
                </div>

                <hr>
                <div class="display-4 text-bg-info p-3 rounded-1 text-center fw-bold">餐點確認</div>
                <ul class="list-group mt-3">
                    <li class="list-group-item d-flex justify-content-between"
                        v-for="(item, index) in check_food_array">
                        <span>{{ index + 1 }} - {{ item.name }}</span>
                        <span>NT${{ item.price }}</span>
                    </li>
                </ul>
                <!--尚未選取餐點-->
                <div class="alert alert-warning mt-3" v-if="check_food_array.length == 0">
                    尚未選取餐點
                </div>

                <!--總價-->
                <div class="fs-3 text-end mt-3">
                    總價:
                    <span class="text-danger fw-bold">NT${{ totalPrice }}</span>
                </div>
                <div class="fs-4 mt-3">付款方式: {{ radioPay }}</div>
                <div class="fs-4 mt-1">選擇糖度: {{ selectSugar }}</div>
                <div class="fs-4 mt-1">
                    訂購規範:
                    {{ agreeOrder ? "同意" : "尚未同意"}}
                </div>
                <button class="btn btn-primary w-100 mt-3 btn-lg"
                    :disabled="agreeOrder == false || check_food_array.length == 0 || radioPay == '' || selectSugar == '' || username.length < 1 || username.length > 5">確認送出</button>
            </div>
        </div>

        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/vue.global.js"></script>
        <script>
            const App = {
                data() {
                    return {
                        title: "Vuejs 表單練習",
                        check_food: false,
                        //所有餐點
                        food_array: [
                            {
                                name: "可樂",
                                price: 45
                            },
                            {
                                name: "薯條",
                                price: 50
                            },
                            {
                                name: "漢堡",
                                price: 60
                            }
                        ],
                        //以勾選的餐點
                        check_food_array: [],
                        radioPay: '',
                        selectSugar: '',
                        agreeOrder: false,
                        username: ''
                    }
                },
                computed: {
                    totalPrice() {
                        let total = 0;
                        this.check_food_array.forEach(item => {
                            total = total + item.price
                        });

                        return total;
                    }
                }
            }
            Vue.createApp(App).mount("#app")
        </script>
</body>

</html>